// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/counter/counter";
@import "../pages/about/about";

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.brown {
    background-color: brown;
}
.blue {
    background-color: blue;
}
.pink {
    background-color: pink;
}
.black {
    background-color: black;
}
